{% extends "templates/default.html.twig" %}
{% block content %}
    {{ parent() }}

    <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        your browser</a> to improve your experience.</p>
    <![endif]-->

    {{ component.modal_ok("turn_geolocation_on", "Permissão para acessar sua localização", "Para uma melhor navegação, aceite compartilhar sua localização conosco.") }}

    <nav class="navbar navbar-ihair no-margin" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="/images/ihair-logo-45x45.png"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-controller="salons-list">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Lista <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="text-center" ng-hide="salons.length"><img src="/images/ajax-loader.gif"></li>
                            <li ng-repeat="salon in salons"><a href="#" ng-click="list_salon_click(salon)">{{ ng.curly("salon.name") }}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <!-- /.navbar-collapse -->

        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="container-fluid no-margin" ng-controller="map">
        <div class="google-map" center="map.center" zoom="map.zoom" draggable="true" events="map.events" control="map.control" options="map.options">
            <marker ng-repeat="salon in salons" coords="salon.location" click="list_salon_click(salon)"></marker>

            <marker coords="map.user_marker" icon="'/images/map-marker-user-location.png'"></marker>
        </div>

    </div>

    {{ component.modal_salon_details("salon_details", "{{ salon_detail.name }}", "salon_detail.rating", "{{ salon_detail.vicinity }}") }}
{% endblock %}